/*
*   VARIABLES
*/
:root{
    --font-primary: "Lucida Sans";
    --font-secondary: "Helvetica";
    --page-padding-top: 5rem;

    --color-light-primary: hsl(0 0% 90%);
    --color-dark-primary: hsl(0 0% 10%);
    --color-light-secondary: hsl(0 0% 80%);
    --color-dark-secondary: hsl(0 0% 20%);

    --home-intro-img1: url("img/products/efb-img-3-960x1280.jpg");
    --home-intro-img2: url("img/products/efb-img-4-960x1280.jpg");
    --home-intro-img3: url("img/products/efb-img-5-960x1280.jpg");
    --home-intro-img4: url("img/products/efb-img-21-960x1092.jpg");
    --home-intro-img5: url("img/products/efb-img-22-960x1280.jpg");

    --gold-color-1: hsl(42 65% 41%);
    --gold-color-2: hsl(56 87% 75%);
    --gold-color-3: hsl(46 56% 67%);
    --gold-color-4: hsl(44 79% 67%);
    --gold-gradient-1: linear-gradient(90deg, var(--gold-color-1), var(--gold-color-2), var(--gold-color-3), var(--gold-color-4));
    
    /*  Link-button settings */
    --lnk-btn-padding: 1rem;
    --lnk-btn-color: var(--color-dark-primary);
    --lnk-btn-bg-img: var(--gold-gradient-1);
    --lnk-btn-bxs: 5px 5px 5px hsl(0 0% 0% / 0.5);
}
/*
*   RESETS
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
*   UTILITES CLASSES
*/
.link{
    text-decoration: none;
}

.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.grid{
    display: grid;
}
.fixed{
    position: fixed;
}
.stop-scroll{
    overflow: hidden;
}
/*
*   SITEWIDE STYLING
*/
html{
    font-family: var(--font-secondary);
}
body{
    text-align: center;
    color: var(--color-light-primary);
    background-color: var(--color-dark-primary);
}
h1{
    font-size: 10vmin;
}
h2{
    font-size: 6vmin;
}
h3{
    font-size: 5vmin;
}
p{
    font-family: var(--font-secondary);
    font-size: 5vmin;
    line-height: 8vmin;
}

.page-content{
    padding-top: var(--page-padding-top);
}
.page-content::before{
    content: "欢迎";
    position: fixed;
    inset: 0;
    font-size: 50vh;
    writing-mode: vertical-lr;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    opacity: 0.1;
    filter: blur(2px);
    filter: brightness(30%);
    font-family: sans-serif;
}
/*
*   Header Primary
*/


/*
*       || HOME PAGE
*/

/*
*       INTRO SECTION
*/
.home-intro{
    padding-bottom: 5rem;
    --max-intro-opacity: 0.3;
    min-height: calc(100vh - var(--page-padding-top));
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8vmin;
}
.home-intro::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: var(--home-intro-img1);
    background-color: var(--color-dark-primary);
    background-position: center;
    background-size: cover;
    background-blend-mode:overlay;
    z-index: -1;
    /* animation: slidingImages 60s linear infinite; */
    /* -webkit-animation: slidingImages 60s linear infinite; */
}
.home-intro > header > h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* font-size: 2rem; */
    text-transform: uppercase;
    color: var(--gold-color-4);
    background-image: var(--gold-gradient-1);
    background-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}
.home-intro__content{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 5vmin;
}
.home-intro__content > p{
    margin-bottom: 2rem;
}
.home-intro__content__link{
    position: relative;
    text-transform: uppercase;
    padding: var(--lnk-btn-padding);
    display: block;
    min-width: 50vmin;
    color: var(--lnk-btn-color);
    margin: 0 auto;
    text-shadow: 1px 1px 1px hsl(0 0% 0% / 0.5);
    font-size: .8rem;
}
.home-intro__content__link::before{
    content: ">>";
    position: absolute;
    top: 30%; left: 80%;
}
.home-intro__content__link::after{
    content: "";
    position: absolute;
    inset: 0;
    
    
    background-image: var(--lnk-btn-bg-img);
    box-shadow: var(--lnk-btn-bxs);
    z-index: -1;
}
.down-arrow-icon{
    width: 30px;
    height: 30px;
    margin: auto;
    filter: invert(100%);
    -webkit-filter: invert(100%);
    filter: brightness(900%);
    -webkit-filter: brightness(900%);
    transform: scaleX(2);
}
/*
*       BUSINESS SECTION
*/
.business-section{
    min-height: 100vh;
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* border: 1px solid red; */
    box-shadow: inset 0px 0px 20px black;
    
}

.business-section__header{
    padding-top: 2rem;
    padding-bottom: 3rem;
}
.business-section__header > h2{
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 2rem;
    color: var(--gold-color-4);
    background-image: var(--gold-gradient-1);
    background-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}
.business-section__header > h3{
    padding: .5rem;
}
.business-section__header > p{
    margin-bottom: .5rem;
}
.business-section__header-hours-container{
    margin-bottom: 1rem;
}
.business-section__header-hours-container > h3{
    padding: .5rem;
}
.business-section__header-hours-container > p{
    line-height: 1rem;
    font-size: .8rem;
}
.business-section__content > article > p{
    padding: 1rem;
}
.business-section__img-container img{
    width: 100%;
    filter: drop-shadow(5px 5px 10px black);
    -webkit-filter: drop-shadow(5px 5px 10px black);
}


/*
*       FAQS SECTION
*/
.faqs-section{
    padding-top: 2rem;
    padding-bottom: 1rem;
    box-shadow: inset 0px 0px 20px black;
}
.faqs-section__header{
    
}
.faqs-section__header > h2{
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 2rem;
    color: var(--gold-color-4);
    background-image: var(--gold-gradient-1);
    background-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}
.faqs-section__content{
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 2rem;
}
.faqs-question{
    margin-bottom: 1rem;
}


/*
*       || PRODUCTS PAGE
*/
.product-header-primary{
    top: 0; left: 0;
    padding: 1rem;
    width: 100vw;
    background-color: hsl(0 0% 10% / 0.5);
    z-index: 1;
}


.website-title{
    font-family: var(--font-primary);
    font-size: .8rem;
    color: var(--color-light-primary);
    margin: 0 auto;
}

/*
*       PRODUCTS INTRO
*/

.products-intro__header{
    position: relative;
    width: 100vw;
    aspect-ratio: 16/9;
}
.products-intro__header::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("img/products/efb-img-2-720x1280.jpg");
    background-position: center;
    background-size: cover;
    opacity: 0.8;
    z-index: -1;
}
.products-intro__header::after{
    content: "";
    position: absolute;
    inset: 0;
    background-image: radial-gradient(transparent, hsl(0 0% 0% / 0.8));
    z-index: -1;
}
.products-intro__header > h1{
    position: absolute;
    top: -1.2rem; left: 5%;
    text-align: left;
    font-family: var(--font-primary);
    font-size: 2rem;
    color: var(--gold-color-3); /*  not sure if this being added cause a problem or a fall back*/
    background-image: var(--gold-gradient-1);
    background-color: transparent; /*  not sure if this being added cause a problem or a fall back*/
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}
.back-to-home-link{
    position: absolute;
    top: 50%; left: 1rem;
    transform: translateY(-50%);
}
.arrow-left-icon{
    fill: var(--gold-color-1);
}

/*
*      CATEGORY AND SORT SELECT BOXES
*/
.product-filters{
    position: relative;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.filter-container > label{
    display: block;
    font-family: var(--font-primary);
    font-size: .8rem;
    color: var(--gold-color-1);
    margin-bottom: 10px;
}
.filter-container > select{
    width: 40vmin;
    text-align: center;
    padding: 5px;
    color: white;
    border: 1px solid var(--gold-color-3);
    border-radius: 5px;
    background: var(--color-dark-primary);
}
.product-filters > p{
    position: absolute;
    top: 90%; left: 50%;
    transform: translateX(-50%);
    font-size: .7rem;
}
/*
*       PRODUCTS LIST
*/

.products-loader{
    position: absolute;
    top: 100%; right: 10%;
    display: flex;
    gap: 5px;
}

.products-loader.off{
    display: none;
}
.products-loader__dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
}
.products-loader__dot:nth-child(1){
    animation: loading 1s linear infinite;
    -webkit-animation: loading 1s linear infinite;
}
.products-loader__dot:nth-child(2){
    animation: loading 1s linear 250ms infinite;
    -webkit-animation: loading 1s linear 250ms infinite;
}
.products-loader__dot:nth-child(3){
    animation: loading 1s linear 500ms infinite;
    -webkit-animation: loading 1s linear 500ms infinite;
}
.product-list{
    padding-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 3rem;
    min-height: 100vh;
}
.product-list > article{
    filter: drop-shadow(5px 5px 10px black);
    -webkit-filter: drop-shadow(5px 5px 10px black);
    animation: slideFadeUp 250ms linear forwards;
    -webkit-animation: slideFadeUp 250ms linear forwards;
}


.product{
    display: grid;
    grid-template-columns: 1fr;
    
}
.product-img-container{
    /* border: 1px solid var(--gold-color-3); */
    border-radius: 20px;
    width: 33vw;
    height: 33vw;
    margin-left: auto;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 10px;
    overflow: hidden;
}
.product-img-container > img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.product-size{
    line-height: 1rem;
    font-size: .8rem;
}
.product-count{
    margin-left: .5rem;
}
.product-name{
    padding: .25rem;
}
.product-price{
    font-size: .9rem;
}
.product-view-button{
    padding: 5px;
    background-image: var(--gold-gradient-1);
    border: none;
    width: 33vw;
    margin: 0 auto;
    border-radius: 50px;
    cursor: pointer;
}
/*
*       POPUP
*/
.p-popup{
    padding-top: 6rem;
    position: fixed;
    bottom: 0; left: 0;
    width: 100vw;
    height: 100vh;
    transform-origin: bottom;
    transform: scaleY(0);
    transition: all 250ms ease;
}
.p-popup.viewing{
    transform: scaleY(1);
}
.p-popup__overlay{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: hsl(0 0% 0% / 0.9);
    z-index: -1;
    opacity: 0;
    transition: all 250ms ease;
}
.p-popup.viewing .p-popup__overlay{
    opacity: 1;
}
.p-popup__content{
    padding-left: 1rem;
    padding-right: 1rem;
    opacity: 0;
    transition: all 250ms ease;
}
.p-popup.viewing .p-popup__content{
    opacity: 1;
    transition: all 250ms ease 250ms;
}
.p-popup__content > header{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
}
.p-popup__content > section{
    position: relative;
    border-radius: 10px;
    padding: 1rem;
    background-color: var(--color-dark-secondary);
}

.p-popup__close-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    width: 10vmin;
    height: 10vmin;
    cursor: pointer;
    margin-right: 2rem;
    padding: 1.5rem;
    color: var(--gold-color-4);
    background-image: var(--gold-gradient-1);
    background-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.p-popup__content-img-container{
    width: 80%;
    aspect-ratio: 13/9;
    margin: 0 auto;
}
.p-popup__content-img-container > img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.p-popup__content-details{
    display: grid;
    grid-template-areas: 
        "name name name"
        "size count price"
        "category category price"
        "desc desc desc";
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    text-shadow: 1px 1px 2px black;
}

.popup-name{
    grid-area: name;
    font-size: 7vmin;
}
.popup-size{
    grid-area: size;
}
.popup-count{
    grid-area: count;
}
.popup-price{
    grid-area: price;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 900;
}
.popup-category{
    grid-area: category;
    font-size: .8rem;
}
.popup-description{
    grid-area: desc;
}

/*
*       FOOTER
*/
footer{
    background-color: black;
    padding: 2rem 1rem;
}
/*
*       ANIMATIONS
*/

@keyframes revealMenu{
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes slidingImages {
    0%{
        opacity: 0;
        background-image: var(--home-intro-img1);
    }
    5%{
        opacity: var(--max-intro-opacity);
        background-image: var(--home-intro-img1);
    }
    10%{
        opacity: var(--max-intro-opacity);
        background-image: var(--home-intro-img1);
    }
    13%{
        opacity: 0;
        background-image: var(--home-intro-img1);
    }
    18%{
        opacity: 0;
        background-image:var(--home-intro-img2);
    }
    20%{
        opacity: var(--max-intro-opacity);
        background-image: var(--home-intro-img2);
    }
    30%{
        opacity: var(--max-intro-opacity);
        background-image: var(--home-intro-img2);
    }
    35%{
        opacity: 0;
        background-image: var(--home-intro-img2);
    }
    40%{
        opacity: 0;
        background-image: var(--home-intro-img3);
    }
    45%{
        opacity: var(--max-intro-opacity);
        background-image: var(--home-intro-img3);
    }
    50%{
        opacity: var(--max-intro-opacity);
        background-image:  var(--home-intro-img3);
    }
    55%{
        opacity: 0;
        background-image: var(--home-intro-img3);
    }
    60%{
        opacity: 0;
        background-image: var(--home-intro-img4);
    }
    65%{
        opacity: var(--max-intro-opacity);
        background-image: var(--home-intro-img4);
    }
    70%{
        opacity: var(--max-intro-opacity);
        background-image: var(--home-intro-img4);
    }
    75%{
        opacity: 0;
        background-image: var(--home-intro-img4);
    }
    80%{
        opacity: 0;
        background-image: var(--home-intro-img5);
    }
    85%{
        opacity: var(--max-intro-opacity);
        background-image: var(--home-intro-img5);
    }
    90%{
        opacity: var(--max-intro-opacity);
        background-image: var(--home-intro-img5);
    }
    100%{
        opacity: 0;
        background-image: var(--home-intro-img5);
    }
}

@keyframes loading {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes slideFadeUp {
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/*
*      MEDIA QUERIES
*/
@media only screen and (min-width: 600px) {
    .website-title{
        color: red;
    }
}
@media only screen and (min-width: 780px) {
    .website-title{
        color: green;
    }
    .home-intro::before{
        animation: none;
        -webkit-animation: none;
    }
}