/*
*   VARIABLES
*/
:root{
    --font-primary: "Lucida Sans";
    --font-secondary: "Helvetica";
    --page-padding-top: 5rem;

    --color-light-primary: hsl(0 0% 90%);
    --color-dark-primary: hsl(0 0% 10%);
    --color-light-secondary: hsl(0 0% 80%);
    --color-dark-secondary: hsl(0 0% 20%);

    --home-intro-img1: url("img/products/efb-img-3-960x1280.jpg");
    --home-intro-img2: url("img/products/efb-img-4-960x1280.jpg");
    --home-intro-img3: url("img/products/efb-img-5-960x1280.jpg");
    --home-intro-img4: url("img/products/efb-img-21-960x1092.jpg");
    --home-intro-img5: url("img/products/efb-img-22-960x1280.jpg");

    --gold-color-1: hsl(42 65% 41%);
    --gold-color-2: hsl(56 87% 75%);
    --gold-color-3: hsl(46 56% 67%);
    --gold-color-4: hsl(44 79% 67%);
    --gold-gradient-1: linear-gradient(90deg, var(--gold-color-1), var(--gold-color-2), var(--gold-color-3), var(--gold-color-4));
    
    /*  Link-button settings */
    --lnk-btn-padding: 1rem;
    --lnk-btn-color: var(--color-dark-primary);
    --lnk-btn-bg-img: var(--gold-gradient-1);
    --lnk-btn-bxs: 5px 5px 5px hsl(0 0% 0% / 0.5);
}
/*
*   RESETS
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
*   UTILITES CLASSES
*/
.link{
    text-decoration: none;
}

.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.grid{
    display: grid;
}
.fixed{
    position: fixed;
}
.stop-scroll{
    overflow: hidden;
}
/*
*   SITEWIDE STYLING
*/
html{
    font-family: var(--font-secondary);
}
body{
    text-align: center;
    color: var(--color-light-primary);
    background-color: var(--color-dark-primary);
}
h1{
    font-size: 10vmin;
}
h2{
    font-size: 6vmin;
}
h3{
    font-size: 5vmin;
}
p{
    font-family: var(--font-secondary);
    font-size: 5vmin;
    line-height: 8vmin;
}

.page-content{
    padding-top: var(--page-padding-top);
}
.page-content::before{
    content: "欢迎";
    position: fixed;
    inset: 0;
    font-size: 50vh;
    writing-mode: vertical-lr;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    opacity: 0.1;
    filter: blur(2px);
    filter: brightness(30%);
    font-family: sans-serif;
}
/*
*   Header Primary
*/
.header-primary{
    top: 0; left: 0;
    padding: 1rem;
    width: 100vw;
    background-color: hsl(0 0% 10% / 0.5);
    z-index: 1;
    transition: all 250ms ease-in-out;
}
/*  Hiding and revealing header on scroll   */
header.scroll-down{
    transform: translateY(-100%);
}
header.scroll-up{
    filter: drop-shadow(0 -10px 20px hsl(0 0% 67%));
}

.website-title{
    font-family: var(--font-primary);
    font-size: .8rem;
    color: var(--color-light-primary);
    margin: 0 auto;
}

/*
*       || HOME PAGE
*/
/*
*       INTRO SECTION
*/
.home-intro{
    padding-bottom: 5rem;
    --max-intro-opacity: 0.3;
    min-height: calc(100vh - var(--page-padding-top));
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8vmin;
}
.home-intro::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: var(--home-intro-img1);
    background-position: center;
    background-size: cover;
    opacity: 0.3;
    z-index: -1;
    animation: slidingImages 60s linear infinite;
}
.home-intro > header > h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* font-size: 2rem; */
    text-transform: uppercase;
    color: var(--gold-color-4);
    background-image: var(--gold-gradient-1);
    background-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}
.home-intro__content{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 5vmin;
}
.home-intro__content__link{
    position: relative;
    text-transform: uppercase;
    padding: var(--lnk-btn-padding);
    display: block;
    min-width: 50vmin;
    color: var(--lnk-btn-color);
    margin: 0 auto;
    text-shadow: 1px 1px 1px hsl(0 0% 0% / 0.5);
    font-size: .8rem;
}
.home-intro__content__link::before{
    content: ">>";
    position: absolute;
    top: 30%; left: 80%;
}
.home-intro__content__link::after{
    content: "";
    position: absolute;
    inset: 0;
    
    
    background-image: var(--lnk-btn-bg-img);
    box-shadow: var(--lnk-btn-bxs);
    z-index: -1;
}
.down-arrow-icon{
    width: 30px;
    height: 30px;
    margin: auto;
    filter: invert(100%);
    -webkit-filter: invert(100%);
    filter: brightness(900%);
    -webkit-filter: brightness(900%);
    transform: scaleX(2);
}
/*
*       BUSINESS SECTION
*/
.business-section{
    min-height: 100vh;
    margin-bottom: 2rem;
}
.business-section > header > h2{
    padding: 2rem 1rem;
}
.business-section__content > article > p{
    padding: 1rem;
}
.business-section__img-container img{
    width: 100%;
}


/*
*       FAQS SECTION
*/
.faqs-section{
    min-height: 100vh;
}
.faqs-section > header > h2{
    padding: 2rem 1rem;
}
.faqs-section__content{
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 2rem;
}
.faqs-question{
    margin-bottom: 1rem;
}


/*
*       || PRODUCTS PAGE
*/
/*
*       PRODUCTS INTRO
*/

.products-intro__header{
    position: relative;
    width: 100vw;
    aspect-ratio: 16/9;
}
.products-intro__header::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("img/products/efb-img-2-720x1280.jpg");
    background-position: center;
    background-size: cover;
    opacity: 0.8;
    z-index: -1;
}
.products-intro__header::after{
    content: "";
    position: absolute;
    inset: 0;
    background-image: radial-gradient(transparent, hsl(0 0% 0% / 0.8));
    z-index: -1;
}
.products-intro__header > h1{
    position: absolute;
    top: -1.2rem; left: 5%;
    text-align: left;
    font-family: var(--font-primary);
    font-size: 2rem;
    color: var(--gold-color-3); /*  not sure if this being added cause a problem or a fall back*/
    background-image: var(--gold-gradient-1);
    background-color: transparent; /*  not sure if this being added cause a problem or a fall back*/
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}
.back-to-home-link{
    position: absolute;
    top: 50%; left: 1rem;
    transform: translateY(-50%);
}
.arrow-left-icon{
    fill: var(--gold-color-1);
}
/*
*       PRODUCTS LIST
*/
.product-list{
    padding-top: 2rem;
    
}
.product-category{
    padding-bottom: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 1.5rem;
}
.product-category > h2{
    font-family: var(--font-primary);
    grid-column: 1/3;
    grid: 1;
    padding: .5rem;
    border: 1px solid var(--gold-color-3);
    width: 90%;
    margin: 0 auto;
    border-radius: 50px;
}
.product{
    display: grid;
    grid-template-columns: 1fr;
}

.product-img-container > img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.product-size{
    font-size: .8rem;
}
.product-name{
    padding: .25rem;
}
.product-price{
    font-size: .9rem;
}
.product-view-button{
    padding: 5px;
    background-image: var(--gold-gradient-1);
    border: none;
    width: 33vw;
    margin: 0 auto;
    border-radius: 50px;
}


/*
*       ANIMATIONS
*/

@keyframes revealMenu{
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes slidingImages {
    0%{
        opacity: 0;
        background-image: var(--home-intro-img1);
    }
    5%{
        opacity: var(--max-intro-opacity);
        background-image: var(--home-intro-img1);
    }
    10%{
        opacity: var(--max-intro-opacity);
        background-image: var(--home-intro-img1);
    }
    13%{
        opacity: 0;
        background-image: var(--home-intro-img1);
    }
    18%{
        opacity: 0;
        background-image:var(--home-intro-img2);
    }
    20%{
        opacity: var(--max-intro-opacity);
        background-image: var(--home-intro-img2);
    }
    30%{
        opacity: var(--max-intro-opacity);
        background-image: var(--home-intro-img2);
    }
    35%{
        opacity: 0;
        background-image: var(--home-intro-img2);
    }
    40%{
        opacity: 0;
        background-image: var(--home-intro-img3);
    }
    45%{
        opacity: var(--max-intro-opacity);
        background-image: var(--home-intro-img3);
    }
    50%{
        opacity: var(--max-intro-opacity);
        background-image:  var(--home-intro-img3);
    }
    55%{
        opacity: 0;
        background-image: var(--home-intro-img3);
    }
    60%{
        opacity: 0;
        background-image: var(--home-intro-img4);
    }
    65%{
        opacity: var(--max-intro-opacity);
        background-image: var(--home-intro-img4);
    }
    70%{
        opacity: var(--max-intro-opacity);
        background-image: var(--home-intro-img4);
    }
    75%{
        opacity: 0;
        background-image: var(--home-intro-img4);
    }
    80%{
        opacity: 0;
        background-image: var(--home-intro-img5);
    }
    85%{
        opacity: var(--max-intro-opacity);
        background-image: var(--home-intro-img5);
    }
    90%{
        opacity: var(--max-intro-opacity);
        background-image: var(--home-intro-img5);
    }
    100%{
        opacity: 0;
        background-image: var(--home-intro-img5);
    }
}

/*
*      MEDIA QUERIES
*/
@media only screen and (min-width: 600px) {
    .website-title{
        color: red;
    }
}
@media only screen and (min-width: 780px) {
    .website-title{
        color: green;
    }
    .home-intro::before{
        animation: none;
    }
}